@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Halaman Utama";
    Layout = null;

    var cultureInfo = new System.Globalization.CultureInfo("id-ID");
    var formattedDate = DateTime.Now.ToString("dddd, dd MMMM yyyy", cultureInfo);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>@ViewData["Title"] - Shafa Al-Firdaus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/feather/feather.css" />
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="~/assets/vendors/typicons/typicons.css" />
    <link rel="stylesheet" href="~/assets/vendors/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/vertical-layout-light/style.css" />
    <link rel="stylesheet" href="~/assets/css/vertical-layout-light/dashboard.css" />
    <!-- <link rel="stylesheet" href="css/index.css" /> -->
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/images/logo-shafa.svg" />

    <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/template.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <!-- endinject -->

    <script src="https://momentjs.com/downloads/moment.js"></script>

    <style>
        body.dashboard-page {
            background-image: url('@Url.Content("~/assets/images/Polytechnic-Astra-2.jpeg")');
        }
    </style>
</head>

<body class="dashboard-page">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <nav class="navbar default-layout default-height col-lg-12 col-12 p-0 fixed-top d-flex align-items-center flex-row bg-transparent">
                <div class="navbar-dashboard d-flex align-items-top">
                    <ul class="navbar-nav">
                        <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                            <a asp-controller="Login" asp-action="Index" data-toggle="tooltip" data-placement="top" title="Masuk">
                                <img src="~/assets/images/logo-asy-syabab.png" alt="Logo Asy-Syabab" class="logo-asy-syabab" />
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-5 mt-4 align-items-center" style="width: 350px;">
                        <li class="nav-item d-none d-lg-block ms-0 my-1 pt-0">
                            <p class="title-time-now">Sekarang</p>
                        </li>
                        <li class="nav-item pt-2 my-1">
                            <p class="text-time-now" id="time-now"></p>
                        </li>
                        <li class="nav-item pt-2">
                            <h3 class="title-time-now" style="font-size: 2rem;">@formattedDate</h3>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav ms-auto me-auto">
                        <li class="nav-item d-none d-lg-block ms-0">
                            <h1 class="title-asy-syabab">Masjid Asy-Syabab</h1>
                        </li>
                        <li class="nav-item">
                            <h2 class="title-asy-syabab">Politeknik Astra</h2>
                        </li>
                        <li class="nav-item">
                            <h2 class="title-asy-syabab" style="font-size: 1.2rem; text-wrap: wrap; color: black; max-width: 475px;">
                                Jalan Gaharu Blok F No. 1, Kawasan Delta Silicon 2, Cibatu, Cikarang Selatan
                            </h2>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-5 mt-4 align-items-center" style="width: 350px;">
                        <li class="nav-item d-none d-lg-block ms-0 my-1 pt-0">
                            <p class="title-time-now">Adzan Berikutnya</p>
                        </li>
                        <li class="nav-item pt-2">
                            <p class="text-time-now" id="time-next"></p>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item font-weight-semibold d-none d-lg-block me-0">
                            <a asp-controller="Dashboard" asp-action="Profile">
                                <img src="~/assets/images/logo-shafa.png" alt="Logo Shafa Al-Firdaus" class="logo-shafa" />
                            </a>
                        </li>
                    </ul>
                </div>
                @* <div class="row w-100 mx-0" style="height: 30px;">
                    <div class="school-address d-sm-flex justify-content-center ">
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            
                        </span>
                    </div>
                </div> *@
            </nav>
            <!-- content-wrapper ends -->
            <!-- partial -->
            
            <div class="main-panel-dashboard">
                <div class="dashboard-wrapper">
                    <div class="row slide-jadwal">
                            <div id="carouselDashboard" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner" id="slide-inner">
                                    <!-- Jadwal Petugas  -->
                                    <div class="carousel-item jadwal-petugas active" id="petugas-jadwal-slide" data-bs-interval="100">
                                    @* <h2 class="title-jadwal">Jadwal Petugas</h2>
                                        <div class="container d-flex p-0 align-items-center flex-row container-jadwal">
                                            <div class="card card-jadwal card-jadwal-petugas" style="width: 18rem">
                                                <div class="card-body">
                                                    <div class="my-auto">
                                                        <img src="~/assets/icons/wired-lineal-target.gif" alt="" class="icon-jadwal-petugas" />
                                                    </div>
                                                    <div class="jadwal-body">
                                                        <h5 class="card-title" id="tugas-title-1"></h5>
                                                        <p class="card-text" id="tugas-time-1"></p>
                                                        <div class="sidebar-divider jadwal-divider"></div>
                                                        <h5 class="card-title card-title-tugas" id="tugas-task-1"></h5>
                                                        <p class="card-text nama-petugas" id="tugas-name-1"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-jadwal card-jadwal-petugas" style="width: 18rem">
                                                <div class="card-body">
                                                    <div class="my-auto">
                                                        <img src="~/assets/icons/wired-lineal-target.gif" alt="" class="icon-jadwal-petugas" />
                                                    </div>
                                                    <div class="jadwal-body">
                                                        <h5 class="card-title" id="tugas-title-2"></h5>
                                                        <p class="card-text" id="tugas-time-2"></p>
                                                        <div class="sidebar-divider jadwal-divider"></div>
                                                        <h5 class="card-title card-title-tugas" id="tugas-task-2"></h5>
                                                        <p class="card-text nama-petugas" id="tugas-name-2"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-jadwal card-jadwal-petugas" style="width: 18rem">
                                                <div class="card-body">
                                                    <div class="my-auto">
                                                        <img src="~/assets/icons/wired-lineal-target.gif" alt="" class="icon-jadwal-petugas" />
                                                    </div>
                                                    <div class="jadwal-body">
                                                        <h5 class="card-title" id="tugas-title-3"></h5>
                                                        <p class="card-text" id="tugas-time-3"></p>
                                                        <div class="sidebar-divider jadwal-divider"></div>
                                                        <h5 class="card-title card-title-tugas" id="tugas-task-3"></h5>
                                                        <p class="card-text nama-petugas" id="tugas-name-3"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container d-flex p-0 align-items-center flex-row container-jadwal">
                                            <div class="card card-jadwal card-jadwal-petugas" style="width: 18rem">
                                                <div class="card-body">
                                                    <div class="my-auto">
                                                        <img src="~/assets/icons/wired-lineal-target.gif" alt="" class="icon-jadwal-petugas" />
                                                    </div>
                                                    <div class="jadwal-body">
                                                        <h5 class="card-title" id="tugas-title-4"></h5>
                                                        <p class="card-text" id="tugas-time-4"></p>
                                                        <div class="sidebar-divider jadwal-divider"></div>
                                                        <h5 class="card-title card-title-tugas" id="tugas-task-4"></h5>
                                                        <p class="card-text nama-petugas" id="tugas-name-4"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-jadwal card-jadwal-petugas" style="width: 18rem">
                                                <div class="card-body">
                                                    <div class="my-auto">
                                                        <img src="~/assets/icons/wired-lineal-target.gif" alt="" class="icon-jadwal-petugas" />
                                                    </div>
                                                    <div class="jadwal-body">
                                                        <h5 class="card-title" id="tugas-title-5"></h5>
                                                        <p class="card-text" id="tugas-time-5"></p>
                                                        <div class="sidebar-divider jadwal-divider"></div>
                                                        <h5 class="card-title card-title-tugas" id="tugas-task-5"></h5>
                                                        <p class="card-text nama-petugas" id="tugas-name-5"></p>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>*@
                                    </div> 
                                </div>

                                @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselDashboard" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselDashboard" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button> *@
                            </div>
                    </div>
                    <!-- Pengumuman Teks Berjalan -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-tab">
                                <div class="card card-running-text">
                                    <div class="card-body">
                                        <marquee class="card-text nama-petugas" id="pengumuman-running-text" behavior="scroll" direction="left"></marquee>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Jadwal Shalat -->
                    <div class="row w-100 h-20 mx-0">
                        <div class="jadwal-shalat">
                            <div class="container-jadwal-shalat w-100 d-flex p-0 align-items-center flex-row">
                                <div class="card card-jadwal card-jadwal-shalat" >
                                    <div class="card-body">
                                        <h5 class="card-title" id="title-imsak">Imsak</h5>
                                        <p class="card-text" id="time-imsak"></p>
                                    </div>
                                </div>
                                <div class="card card-jadwal card-jadwal-shalat" >
                                    <div class="card-body">
                                        <h5 class="card-title" id="title-subuh">Subuh</h5>
                                        <p class="card-text" id="time-subuh"></p>
                                    </div>
                                </div>
                                <div class="card card-jadwal card-jadwal-shalat" >
                                    <div class="card-body">
                                        <h5 class="card-title" id="title-terbit">Terbit</h5>
                                        <p class="card-text" id="time-terbit"></p>
                                    </div>
                                </div>
                                <div class="card card-jadwal card-jadwal-shalat" >
                                    <div class="card-body">
                                        <h5 class="card-title" id="title-dzuhur">Dzuhur</h5>
                                        <p class="card-text" id="time-dzuhur"></p>
                                    </div>
                                </div>
                                <div class="card card-jadwal card-jadwal-shalat" >
                                    <div class="card-body">
                                        <h5 class="card-title" id="title-ashar">Ashar</h5>
                                        <p class="card-text" id="time-ashar"></p>
                                    </div>
                                </div>
                                <div class="card card-jadwal card-jadwal-shalat" >
                                    <div class="card-body">
                                        <h5 class="card-title" id="title-maghrib">Maghrib</h5>
                                        <p class="card-text" id="time-maghrib"></p>
                                    </div>
                                </div>
                                <div class="card card-jadwal card-jadwal-shalat">
                                    <div class="card-body">
                                        <h5 class="card-title" id="title-isya">Isya</h5>
                                        <p class="card-text" id="time-isya"></p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="row w-100 mx-0">
                        <footer class="footer footer-dashboard">
                            <div class="d-sm-flex justify-content-center ">
                                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © @DateTime.Now.Year. DKM Masjid Asy-Syabab.</span>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  
    <script>
        function reloadPage() {
            location.reload(true);
        }

        setInterval(reloadPage, 600000);
    </script>
    

    <script>
        var jadwalString = '@JsonConvert.SerializeObject(ViewBag.Jadwal)';
        var jadwal = JSON.parse(jadwalString.replace(/&quot;/g, '"'));

        var nextAdzanTime = null;
        var intervalId;

        loadJadwalShalat();
        //loadJadwalPetugas();
        loadPengumuman();

/*      ========================= COUNTDOWN & JAM ================================ */
        
        function zeroPadding(num, digit) {
            return String(num).padStart(digit, '0');
        }

        function updateNextAdzanCountdown() {
            var now = new Date();

            
            var countdownMillis = nextAdzanTime - now;

            if (countdownMillis < 0) {
                clearInterval(intervalId);

                var list = jadwal.data;
                var targetDate = moment().format('DD-MM-YYYY');
                var targetData = null;

                list.forEach(function (item) {
                    var itemDate = item.date.gregorian.date;

                    if (itemDate === targetDate) {
                        targetData = item;
                    }
                });

                var dzuhur = targetData.timings.Dhuhr.replace("(WIB)", "").split(":");
                var adzanHours = parseInt(dzuhur[0], 10);
                var adzanMinutes = parseInt(dzuhur[1], 10);

                var currentDate = new Date();
                var isFriday = currentDate.getDay() === 5;
                var isDhuhrTime = (currentDate.getHours() === adzanHours) && (currentDate.getMinutes() === adzanMinutes);

                if (isFriday && isDhuhrTime) {
                    window.location.href = "/Dashboard/BlackScreen";
                } else {
                    window.location.href = "/Dashboard/Iqamah";
                }
            }

            var hours = Math.floor(countdownMillis / (1000 * 60 * 60));
            var minutes = Math.floor((countdownMillis % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((countdownMillis % (1000 * 60)) / 1000);

            document.getElementById("time-next").innerText = zeroPadding(hours, 2) + ":" + zeroPadding(minutes, 2) + ":" + zeroPadding(seconds, 2);
            document.getElementById("time-now").innerText = zeroPadding(now.getHours(), 2) + ":" + zeroPadding(now.getMinutes(), 2) + ":" + zeroPadding(now.getSeconds(), 2);
        }

        updateNextAdzanCountdown();
        intervalId = setInterval(updateNextAdzanCountdown, 100);

/*      ========================= JADWAL SHALAT ================================ */

        function jadwalNext() {
            
            var list = jadwal.data;

            var nowDate = moment().format('DD-MM-YYYY');

            var targetDate = moment(nowDate, 'DD-MM-YYYY').add(1, 'days').format('DD-MM-YYYY');

            var targetData = null;

            list.forEach(function (item) {
                var itemDate = item.date.gregorian.date;

                if (itemDate === targetDate) {
                    targetData = item;
                }
            });

            var nextDayData = targetData.timings.Fajr.replace("(WIB)", "").split(":");

            return nextDayData;
        }

        function loadJadwalShalat() {
            var imsak = document.getElementById('time-imsak');
            var subuh = document.getElementById('time-subuh');
            var terbit = document.getElementById('time-terbit');
            var dzuhur = document.getElementById('time-dzuhur');
            var ashar = document.getElementById('time-ashar');
            var maghrib = document.getElementById('time-maghrib');
            var isya = document.getElementById('time-isya');

            var list = jadwal.data;

            var targetDate = moment().format('DD-MM-YYYY');
            
            var targetData = null;

            list.forEach(function (item) {
                var itemDate = item.date.gregorian.date;
                
                if (itemDate === targetDate) {
                    targetData = item;
                }
            });


            imsak.textContent = targetData.timings.Imsak.replace("(WIB)", "");
            subuh.textContent = targetData.timings.Fajr.replace("(WIB)", "");
            terbit.textContent = targetData.timings.Sunrise.replace("(WIB)", "");
            dzuhur.textContent = targetData.timings.Dhuhr.replace("(WIB)", "");
            ashar.textContent = targetData.timings.Asr.replace("(WIB)", "");
            maghrib.textContent = targetData.timings.Maghrib.replace("(WIB)", "");
            isya.textContent = targetData.timings.Isha.replace("(WIB)", "");

            var todayData = targetData.timings;
            for (let i in todayData) {
                var currentDate = new Date();
                var currentHours = currentDate.getHours();
                var currentMinutes = currentDate.getMinutes();
                var currentTime = currentHours * 60 + currentMinutes; 

                var adzanTime = todayData[i].replace("(WIB)", "").split(":");
                var adzanHours = parseInt(adzanTime[0], 10);
                var adzanMinutes = parseInt(adzanTime[1], 10);
                var adzanTimeInMinutes = adzanHours * 60 + adzanMinutes; 
                
                var nextAdzanHours = 0;
                var nextAdzanMinutes = 0;
                var nextAdzanTimeInMinutes = 0;

                if (nextAdzanTime != null) {
                    nextAdzanHours = nextAdzanTime.getHours();
                    nextAdzanMinutes = nextAdzanTime.getMinutes();
                    nextAdzanTimeInMinutes = nextAdzanHours * 60 + nextAdzanMinutes;
                }

                if ((adzanTimeInMinutes >= currentTime) && (nextAdzanTime === null || (adzanTimeInMinutes < nextAdzanTimeInMinutes) || (nextAdzanTimeInMinutes === 0))) {

                    if ((i == "Fajr") || (i == "Dhuhr") || (i == "Asr") || (i == "Maghrib") || (i == "Isha")) {
                        nextAdzanTime = new Date();
                        nextAdzanTime.setHours(adzanHours);
                        nextAdzanTime.setMinutes(adzanMinutes);
                        nextAdzanTime.setSeconds(0);
                    }
                }
            }

            if (nextAdzanTime === null) {
                var newAdzanTime = jadwalNext();

                var adzanHours = parseInt(newAdzanTime[0], 10);
                var adzanMinutes = parseInt(newAdzanTime[1], 10);

                nextAdzanTime = new Date();
                nextAdzanTime.setDate(nextAdzanTime.getDate() + 1);

                nextAdzanTime.setHours(adzanHours);
                nextAdzanTime.setMinutes(adzanMinutes);
                nextAdzanTime.setSeconds(0);
            }
        }

/*      ========================= JADWAL PETUGAS HARIAN ================================ */

        function loadJadwalPetugas() {
            var hostname = "https://localhost:44307/";
            var url = hostname + "GetViewJadwalPetugas";
            var method = "GET";

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    var list = data.data;
                    var currentDate = new Date();
                    var i = 1;

                    var todayDateString = currentDate.toISOString().split('T')[0];
                    //console.log(todayDateString)
                    list.forEach(function (item) {
                        if (i > 5) {
                            return;
                        }

                        var itemDate = new Date(item.tanggal);
                        var itemDateString = itemDate.toISOString().split('T')[0];
                        var itemStatus = item.status;

                        if ((itemDateString === todayDateString) && (itemDate >= currentDate) && (itemStatus === 1)) {
                           // console.log(item);

                            var titleElement = document.getElementById('tugas-title-' + i);
                            var timeElement = document.getElementById('tugas-time-' + i);
                            var taskElement = document.getElementById('tugas-task-' + i);
                            var nameElement = document.getElementById('tugas-name-' + i);

                            var hours = itemDate.getHours();
                            var minutes = itemDate.getMinutes();
                            var formattedTime = hours + ':' + (minutes < 10 ? '0' : '') + minutes;

                            titleElement.textContent = item.waktu;
                            timeElement.textContent = formattedTime;
                            taskElement.textContent = item.tugas;
                            nameElement.textContent = item.nama;
                            i++;
                        }
                    });

                    if (i <= 5) {
                        var cardElements = document.getElementsByClassName('card-jadwal-petugas');
                        
                        for (let j = 4; j >= i-1; j--) {
                            cardElements[j].remove();
                        }
                    }

                    /*if (i == 1) {
                        var cardElements = document.getElementById('petugas-jadwal-slide');

                        cardElements.remove();
                    }*/
                },
            });
        }

/*      ========================= PENGUMUMAN ================================ */

        function loadPengumuman() {
            var judulKegiatan = document.getElementById("pengumuman-kegiatan-judul");
            var isiKegiatan = document.getElementById("pengumuman-kegiatan-isi");
            
            var judulPemberitahuan = document.getElementById("pengumuman-pemberitahuan-judul");
            var isiPemberitahuan = document.getElementById("pengumuman-pemberitahuan-isi");
            
            var isiRunningText= document.getElementById("pengumuman-running-text");

            var hostname = "https://localhost:44307/";
            var url = hostname + "GetViewPengumuman";
            var method = "GET";

            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                success: function (data) {
                    var list = data.data;

                    var runningText = " • ";

                    list.forEach(function (item) {
                        var status = item.status;
                        var jenis = item.jenis;

                        if (status === 1 && jenis === 0) {
                            var newItem =
                                "<div class='carousel-item pengumuman' id='pengumuman-kegiatan' data-bs-interval='10000'> " +
                                "<h2 class='title-jadwal'>Pengumuman</h2> " +
                                "<div class='container d-flex p-0 align-items-center flex-row'> " +
                                "<div class='card card-jadwal card-pengumuman' style='width: 75rem'> " +
                                "<div class='card-body'>" +
                                "<h5 class='card-title' id='pengumuman-kegiatan-judul'>" + item.judul + "</h5>" + 
                                "<p class='card-text' id='pengumuman-kegiatan-isi'>" + decodeURIComponent(item.isi.replace(/%0A/g, '<br>')) + "</p>" +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>";

                            $("#slide-inner").append(newItem);
                        }

                        if (status === 1 && jenis === 1) {
                            var newItem =
                                "<div class='carousel-item pengumuman' id = 'pengumuman-pemberitahuan' data-bs-interval='10000' >" +
                                "<h2 class='title-jadwal' > Pengumuman </h2>" +
                                "<div class='container d-flex p-0 align-items-center flex-row' >" +
                                "<div class='card card-jadwal card-pengumuman' style = 'width: 75rem' > " +
                                "<div class='card-body' >" +
                                "<h5 class='card-title' id = 'pengumuman-pemberitahuan-judul' >" + item.judul + "</h5>" +
                                "<p class='card-text' id = 'pengumuman-pemberitahuan-isi' >" + decodeURIComponent(item.isi.replace(/%0A/g, '<br>')) + "</p>" +
                                "</div>" +
                                "</div>" +
                                "</div>" +
                                "</div>";

                            $("#slide-inner").append(newItem);
                        }

                        if (status === 1 && jenis === 2) {
                            var judul = item.judul;
                            var isi = decodeURIComponent(item.isi.replace(/%0A/g, ''));

                            runningText += isi + " • ";
                        }
                    });
                    isiRunningText.textContent = runningText;
                },
            });
        }
    </script>

</body>
</html>
