@{
    ViewData["Title"] = "Jadwal Petugas";
}

<style>
    .table-container {
        max-height: 595px;
        overflow-y: auto;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Jadwal Petugas Harian</h4>
                    </div>
                    <div class="card-body">
                        <div class="my-3" style="margin-top: 40px;">
                            <a class="btn btn-primary" asp-controller="JadwalPetugas" asp-action="Create">Tambah Data</a>
                        </div>
        
                        <div class="row my-4" style="height: 50px">
                            <div class="col-md-12 w-50 h-100 d-flex align-items-start filter-container">
                                <label for="statusFilter" style="width: 45%;height: 100%;display: flex;align-items: center;font-size: 1rem;">Filter Berdasarkan Status :</label>
                                <select class="form-control" id="statusFilter" style="width: 55%;height: 100%;font-size: 1rem;">
                                    <option value="">All</option>
                                    <option value="2">Terlaksana</option>
                                    <option value="1">Aktif</option>
                                    <option value="0">Tidak Aktif</option>
                                </select>
                            </div>
                            <div class="col-md-12 w-50 d-flex align-items-end search-container">
                                <label for="searchInput" style="width: 10%;height: 100%;display: flex;align-items: center;font-size: 1rem;">Cari :</label>
                                <input type="text" id="searchInput" class="form-control" style="width: 70%;height: 100%;font-size: 1rem;" />
                            </div>
                        </div>
                        <div class="table-responsive table-container">
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th scope="col">Petugas Harian</th>
                                        <th scope="col">Tanggal</th>
                                        <th scope="col">Waktu</th>
                                        <th scope="col">Tugas</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    loadTable();

    $("#statusFilter, #searchInput").change(function () {
        $("#tbody").empty();
        loadTable();
    });

    function loadTable() {
        var hostname = "https://localhost:44307/";
        var url = hostname + "GetAllJadwalPetugasHarian";
        var method = "GET";
        var statusFilter = $("#statusFilter").val();
        var searchInput = $("#searchInput").val();
        var jwtToken = '@ViewBag.Token';

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (data) {
                var list = data.data;
                var currentDate = new Date();

                list.forEach(function (item) {
                    var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour24: false };
                    
                    var formatter = new Intl.DateTimeFormat('id-ID', options);

                    var formattedTanggal = formatter.format(new Date(item.tanggal));

                    var statusText = item.status === 2 ? 'Terlaksana' : (item.status === 1 ? 'Aktif' : 'Tidak Aktif');
                    var newRow = '<tr align="center">' +
                        "<td>" + item.kode + "</td>" +
                        "<td>" + formattedTanggal + "</td>" +
                        "<td>" + item.waktu + "</td>" +
                        "<td>" + item.tugas + "</td>" +
                        '<td>' + statusText + '</td>' +
                        '<td>' +
                        '<a type="button" class="btn btn-outline-info btn-icon" href="/JadwalPetugas/Update?id_jadwal=' + item.id_jadwal + '" data-toggle="tooltip" data-placement="top" title="Ubah Data Tugas"><i class="bi bi-pencil-square"></i></a>' +
                        '<button  class="btn btn-outline-danger btn-icon" value="' + item.id_jadwal + '" onclick="updateBatal(\'' + item.id_jadwal + '\')" style="margin-left: 10px;margin-right: 10px;" data-toggle="tooltip" data-placement="top" title="Batalkan Tugas"><i class="bi bi-dash-circle-fill"></i></button>' +
                        '<button  class="btn btn-outline-success btn-icon" value="' + item.id_jadwal + '" onclick="updateTerlaksana(\'' + item.id_jadwal + '\')"><i class="bi bi-check-circle-fill" data-toggle="tooltip" data-placement="top" title="Tugas Selesai"></i></button>' +
                        '</td>' +
                        '</tr>';

                    // Apply status filter
                    if (
                        (statusFilter === "" || item.status.toString() === statusFilter) &&
                        (searchInput === "" ||
                            nama.toLowerCase().includes(searchInput.toLowerCase()) ||
                            item.waktu.toLowerCase().includes(searchInput.toLowerCase()) ||
                            formattedTanggal.toLowerCase().includes(searchInput.toLowerCase()) ||
                            item.tugas.toLowerCase().includes(searchInput.toLowerCase()) ||
                            getStatusDescription(item.status).toLowerCase().includes(searchInput.toLowerCase())
                        )
                    ) {
                        $('#tbody').append(newRow);
                    }
                });
            },
        });
    }

    function loadNamaPetugasAsync(kode) {
        return new Promise(function (resolve) {
            var url = hostname + "GetPetugasHarian?kode=" + kode;
            $.ajax({
                url: url,
                method: "GET",
                contentType: "application/json",
                headers: {
                    'Authorization': 'Bearer ' + '@ViewBag.Token'
                },
                success: function (data) {
                    var item = data.data;
                    var result = item.nama;
                    resolve(result);
                }
            });
        });
    }

    function updateBatal(id_jadwal) {
        var status = '0';

        var hostname = "https://localhost:44307/";
        var url = hostname + "UpdateStatus?id_jadwal=" + id_jadwal + "&status=" + status;
        var method = "PUT";
        var jwtToken = '@ViewBag.Token';

        swal({
            title: "Batalkan Jadwal Petugas",
            text: "Apakah Anda Yakin ingin membatalkan tugas ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Bearer ' + '@ViewBag.Token'
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            swal("Sukses!", data.message, "success").then(() => {
                                location.reload();
                            });
                        } else {
                            swal("Gagal", data.message, "error");
                        }
                    },
                    error: function (errors) {
                        console.log(errors);
                        swal("Error", "Terjadi kesalahan saat mengubah Jadwal Petugas", "error");
                    }
                });
            }
        });
    }

    function updateTerlaksana(id_jadwal) {
        var status = '2';

        var hostname = "https://localhost:44307/";
        var url = hostname + "UpdateStatus?id_jadwal=" + id_jadwal + "&status=" + status;
        var method = "PUT";
        var jwtToken = '@ViewBag.Token';

        swal({
            title: "Jadwal Petugas Terlaksana",
            text: "Apakah Anda Yakin ingin mengubah tugas ini menjadi terlaksana?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Bearer ' + '@ViewBag.Token'
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            swal("Sukses!", data.message, "success").then(() => {
                                location.reload();
                            });
                        } else {
                            swal("Gagal", data.message, "error");
                        }
                    },
                    error: function (errors) {
                        console.log(errors);
                        swal("Error", "Terjadi kesalahan saat mengubah Jadwal Petugas", "error");
                    }
                });
            }
        });
    }
</script>
