@{
    ViewData["Title"] = "Jadwal Petugas";
}



<div class="card">
    <div class="card-body">
        <div class="my-3" style="margin-top: 40px;">
            <a class="btn btn-primary" asp-controller="JadwalPetugas" asp-action="Create">Tambah Data</a>
        </div>
        <div class="col-md-12 filter-container">
            <label for="statusFilter">Filter by Status:</label>
            <select id="statusFilter">
                <option value="">All</option>
                <option value="2">Terlaksana</option>
                <option value="1">Aktif</option>
                <option value="0">Tidak Aktif</option>
            </select>
        </div>
        <div>
            <label for="searchInput">Search:</label>
            <input type="text" id="searchInput" />
        </div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th scope="col">Petugas Harian</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Waktu</th>
                    <th scope="col">Tugas</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>

<script>
    loadTable();

    $("#statusFilter, #searchInput").change(function () {
        $("#tbody").empty();
        loadTable();
    });

    function loadTable() {
        var hostname = "https://localhost:44307/";
        var url = hostname + "GetAllJadwalPetugasHarian";
        var method = "GET";
        var statusFilter = $("#statusFilter").val();
        var searchInput = $("#searchInput").val();
        var jwtToken = '@ViewBag.Token';

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (data) {
                var list = data.data;
                list.forEach(function (item) {
                    var statusText = item.status === 2 ? 'Terlaksana' : (item.status === 1 ? 'Aktif' : 'Tidak Aktif');
                    var newRow = '<tr align="center">' +
                        "<td>" + item.nama + "</td>" +
                        "<td>" + item.tanggal + "</td>" +
                        "<td>" + item.waktu + "</td>" +
                        "<td>" + item.tugas + "</td>" +
                        '<td>' + statusText + '</td>' +
                        '<td>' +
                        '<a class="btn btn-secondary" href="/JadwalPetugas/Update?id_jadwal=' + item.id_jadwal + '" style="margin : 0px 5px">Ubah</a>' +
                        '<button  class="btn btn-danger" value="' + item.id_jadwal + '" onclick="updateBatal(\'' + item.id_jadwal + '\')">Batal</button>' +
                        '<button  class="btn btn-danger" value="' + item.id_jadwal + '" onclick="updateTerlaksana(\'' + item.id_jadwal + '\')">Terlaksana</button>' +
                        '</td>' +
                        '</tr>';

                    // Apply status filter
                    if (
                        (statusFilter === "" || item.status.toString() === statusFilter) &&
                        (searchInput === "" ||
                            nama.toLowerCase().includes(searchInput.toLowerCase()) ||
                            item.waktu.toLowerCase().includes(searchInput.toLowerCase()) ||
                            formattedTanggal.toLowerCase().includes(searchInput.toLowerCase()) ||
                            item.tugas.toLowerCase().includes(searchInput.toLowerCase()) ||
                            getStatusDescription(item.status).toLowerCase().includes(searchInput.toLowerCase())
                        )
                    ) {
                        $('#tbody').append(newRow);
                    }
                });
            },
        });
    }

    function loadNamaPetugasAsync(kode) {
        return new Promise(function (resolve) {
            var url = hostname + "GetPetugasHarian?kode=" + kode;
            $.ajax({
                url: url,
                method: "GET",
                contentType: "application/json",
                headers: {
                    'Authorization': 'Bearer ' + '@ViewBag.Token'
                },
                success: function (data) {
                    var item = data.data;
                    var result = item.nama;
                    resolve(result);
                }
            });
        });
    }

    function updateBatal(id_jadwal) {
        var status = '0';

        var hostname = "https://localhost:44307/";
        var url = hostname + "UpdateStatus?id_jadwal=" + id_jadwal + "&status=" + status;
        var method = "PUT";
        var jwtToken = '@ViewBag.Token';

        swal({
            title: "Batalkan Jadwal Petugas",
            text: "Apakah Anda Yakin ingin membatalkan tugas ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Bearer ' + '@ViewBag.Token'
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            swal("Sukses!", data.message, "success").then(() => {
                                location.reload();
                            });
                        } else {
                            swal("Gagal", data.message, "error");
                        }
                    },
                    error: function (errors) {
                        console.log(errors);
                        swal("Error", "Terjadi kesalahan saat mengubah Jadwal Petugas", "error");
                    }
                });
            }
        });
    }

    function updateTerlaksana(id_jadwal) {
        var status = '2';

        var hostname = "https://localhost:44307/";
        var url = hostname + "UpdateStatus?id_jadwal=" + id_jadwal + "&status=" + status;
        var method = "PUT";
        var jwtToken = '@ViewBag.Token';

        swal({
            title: "Jadwal Petugas Terlaksana",
            text: "Apakah Anda Yakin ingin mengubah tugas ini menjadi terlaksana?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Bearer ' + '@ViewBag.Token'
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            swal("Sukses!", data.message, "success").then(() => {
                                location.reload();
                            });
                        } else {
                            swal("Gagal", data.message, "error");
                        }
                    },
                    error: function (errors) {
                        console.log(errors);
                        swal("Error", "Terjadi kesalahan saat mengubah Jadwal Petugas", "error");
                    }
                });
            }
        });
    }

</script>
